### On Windows (cmd)
### Run project in venv
# python -m venv .venv
# .venv\Scripts\activate.bat
# .venv\Scripts\python.exe -m pip install --upgrade pip
# .venv\Scripts\python.exe -m pip install --upgrade -r requirements.txt

# pip freeze > requirements.txt

### On MacOS
### Run project in venv
# python3 -m venv .venv
# source .venv/bin/activate
# pip3 install --upgrade pip
# pip3 install --upgrade -r requirements.txt

# pip3 freeze > requirements.txt

# Google Cloud Services
google-cloud-bigquery>=3.20.0
google-cloud-storage>=2.10.0
google-cloud-bigquery-storage>=2.24.0
db-dtypes>=1.1.0

# Xử lý dữ liệu & Parquet
pandas>=2.0.0
pyarrow>=15.0.0
pytz>=2024.1
polars>=0.20.0
pandera[polars]>=0.18.0

# Cào dữ liệu & APIs
vnstock>=4.0.4
requests>=2.31.0
holidays>=0.45

# Cấu hình, Logging & Tiện ích
python-dotenv>=1.0.0
rich>=13.0.0

# # Database & ORM
# SQLAlchemy==2.0.31
# psycopg2-binary==2.9.12
